.routeType, .wasteType, .dateRange {
	padding-left: 40px;
}

/* Route Number */
.routeType ul li {
	list-style: none;
	display: inline;
	font-family: arial, serif;
}

.wasteType ul li, .dateRange ul li {
	list-style: none;
	font-family: arial, serif;
}
